name: CI Smart Agent Bot

on:
  workflow_call:
    inputs:
      logs:
        required: true
        type: string
      repo:
        required: true
        type: string
    secrets:
      AGENT_GITHUB_TOKEN:
        required: true
      LLM_API_KEY:
        required: false

permissions:
  contents: write
  actions: read

jobs:
  run-agent:
    runs-on: ubuntu-latest

    steps:
      - name: Debug agent path
        run: |
          echo "ACTION PATH = ${{ github.action_path }}"
          ls -la ${{ github.action_path }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        working-directory: ${{ github.action_path }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run CI Smart Agent
        working-directory: ${{ github.action_path }}
        env:
          TARGET_REPO: ${{ inputs.repo }}
          CI_LOGS: ${{ inputs.logs }}
          AGENT_GITHUB_TOKEN: ${{ secrets.AGENT_GITHUB_TOKEN }}
          LLM_API_KEY: ${{ secrets.LLM_API_KEY }}
        run: |
          python agent/agent.py
