name: CI Smart Agent Bot

on:
  workflow_call:
    inputs:
      logs:
        required: true
        type: string
      repo:
        required: true
        type: string
    secrets:
      AGENT_GITHUB_TOKEN:
        required: true
      LLM_API_KEY:
        required: false

permissions:
  contents: write
  actions: read

jobs:
  run-agent:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ci-bot-agent source
        uses: actions/checkout@v4
        with:
          repository: vyaspurva20/ci-bot-agent
          ref: v1
          path: ci-bot-agent

      - name: Verify files
        run: |
          ls -la
          ls -la ci-bot-agent

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ci-bot-agent/requirements.txt

      - name: Run CI Smart Agent
        env:
          TARGET_REPO: ${{ inputs.repo }}
          CI_LOGS: ${{ inputs.logs }}
          AGENT_GITHUB_TOKEN: ${{ secrets.AGENT_GITHUB_TOKEN }}
          LLM_API_KEY: ${{ secrets.LLM_API_KEY }}
        run: |
          python ci-bot-agent/agent/agent.py
